<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./components/head') %>
    <link rel="stylesheet" href="/style/confirmar-email.css">
    <title>Confirmar Email</title>
</head>

<body>
    <section class="confirmar-email">

        <div class="formulario">

            <h1 class="titulo">CONFIRMAR EMAIL</h1>

            <form>

                <label for="email">Email:
                    <input type="email" required placeholder="Insira seu email">
                </label>

                <button class="enviar">Confirmar</button>

            </form>

        </div>

    </section>
</body>

</html>