<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./components/head') %>
    <link rel="stylesheet" href="/style/redefinir-senha.css">
    <title>Redefinir senha</title>
</head>

<body>
    <section class="redefinir-senha">

        <div class="formulario">

            <h1 class="titulo">REDEFINIR SENHA</h1>
            
            <form>
        
                <label for="password"> Nova senha:
                    <input type="password" required placeholder="Insira sua senha">
                </label>

                <label for="password">Confirme senha:
                  <input type="password" required placeholder="Confirme sua senha">
                </label>

                <button class="enviar">Redefinir</button>

            </form>

        </div>
    
    </section>
</body>

</html>