<div class="menu-adicionar">

    <div id="btnMenuAdicionar" class="btn-menu-adicionar btn-menu-adicionar--fechado">
    
        <div id="btnAdicionarContato" class="btn-adicionar-contato"> 
            
            <i> <img src="/img/icon-contato.svg" alt="Icone de contato"> </i>
            
            <button>Novo contato</button>
        
        </div>
        
        <div id="btnCriarGrupo" class="btn-criar-grupo">
            
            <i> <img src="/img/icon-grupo.svg" alt="Icone de grupo"> </i>

            <button>Novo grupo</button>
        
        </div>
    
    </div>

    <button id="btnAbrirFecharMenuAdicionar" class="btn-abrir-fechar-menu-adicionar"></button>

</div>