// Cores

$cor-2: #D9C8FF;
$cor-3: #AEADC7;
$cor-1: #1E77FC;
$cor-5: #232198;
$cor-4: #281C78;
$cor-6: #050259;
$cor-7: #010440;

// Gradiente

$gradiente: ( at top, #1E77FC 0%, #232198 60%, #010440 100% );