// Cores

$cor-2: #D9C8FF;
$cor-3: #AEADC7;
$cor-1: #1E77FC;
$cor-5: #232198;
$cor-4: #281C78;
$cor-6: #050259;
$cor-7: #010440;
$cor-8: #181818;

// Gradiente

$gradiente: ( at top, #1E77FC 0%, #232198 60%, #010440 100% );

// Pontos de quebra

$ponto-de-quebra-1000: 1000px;
$ponto-de-quebra-650: 650px;
$ponto-de-quebra-500: 500px;
$ponto-de-quebra-400: 400px;
$ponto-de-quebra-300: 300px;