<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./componentes/head') %>
    <link rel="stylesheet" href="/style/cadastrar.css">
    <script src="/scripts/cadastrar.js" defer></script>
    <title>Cadastrar</title>
</head>

<body>
    <section class="cadastrar">

        <div class="formulario">
            <h1 class="titulo">Cadastrar</h1>

            <form>
                <label for="nome">Nome:
                    <input type="text" id="nome" name="nome" required minlength="3" placeholder="Insira seu nome" maxlength="20" title="Nome de usuário deve ter entre 3 e 20 caracteres">
                </label>

                <label for="email">Email:
                    <input type="email" id="email" name="email" required placeholder="Insira seu email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}$" title="Por favor, insira um e-mail válido">
                </label>

                <label for="senha">Senha:
                    <input type="password" id="senha" name="senha" required minlength="8" placeholder="Insira sua senha" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Por favor, escolha uma senha com no mínimo 8 caracteres, incluindo letras, números e caracteres especiais. Tornará sua senha mais segura!">
                </label>

                <label for="senha">Confirmar Senha:
                    <input type="password" id="confirmarSenha" name="senha" required minlength="8" placeholder="Insira sua senha" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Por favor, escolha uma senha com no mínimo 8 caracteres, incluindo letras, números e caracteres especiais. Tornará sua senha mais segura!">
                </label>

                <button type="submit" class="enviar">Cadastrar</button>
            </form>

            <p>Não tem uma conta?</p>
            <a class="cadastre-se" href="login">Faça login</a>
        </div>

    </section>
</body>

</html>