<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./componentes/head') %>
    <link rel="stylesheet" href="/style/home.css">
    <title>Chat Online</title>
</head>
<body>
    <main>
        <div class="aba-contatos aba-contatos--invisivel">
            
            <div class="perfil">
                <div class="cor"></div>
                <p class="nome">Nome do usuario</p>
            </div>

            <input type="text" placeholder="Pesquisa" class="barra-de-pesquisa">

            <div class="contatos">

                <div class="contato">
                    <div class="cor"></div>
                    <p class="nome">Nome do usuario</p>
                </div>

                <div class="contato">
                    <div class="cor"></div>
                    <p class="nome">Nome do usuario</p>
                </div>

            </div>

            <%- include('./componentes/menuAdicionar') %>

        </div>

        <div class="aba-conversa">
            <div class="perfil">
                <button class="voltar">
                    <img src="img/seta.svg" alt="">
                </button>
                <div class="cor"></div>
                <p class="nome">Nome do usuario</p>
            </div>

            <div class="mensagens">

                <div class="mensagem mensagem--esquerda mensagem-primeira">
                    <p class="texto">Bom dia bem</p>
                    <time class="hora">8:24</time>
                </div>

                <div class="mensagem mensagem--esquerda">
                    <p class="texto">Tudo bem com vc?</p>
                    <time class="hora">8:24</time>
                </div>

                <div class="mensagem mensagem--direita mensagem-primeira">
                    <p class="texto">Bom dia</p>
                    <time class="hora">8:30</time>
                </div>

                <div class="mensagem mensagem--direita">
                    <p class="texto">Tudo, e com vc?</p>
                    <time class="hora">8:30</time>
                </div>

                <div class="mensagem mensagem--esquerda">
                    <p class="texto">Vou bem sim.</p>
                    <time class="hora">9:00</time>
                </div>

                <div class="mensagem mensagem--direita mensagem-primeira">
                    <p class="texto">Que ótimo</p>
                    <time class="hora">9:02</time>
                </div>

                <div class="mensagem mensagem--direita">
                    <p class="texto">Como posso ajudar</p>
                    <time class="hora">9:02</time>
                </div>

                <div class="mensagem mensagem--direita">
                    <p class="texto">?</p>
                    <time class="hora">9:02</time>
                </div>

            </div>

            <form class="barra-de-mensagem">
                <input placeholder="Digite uma mensagem..." name="" class="input-de-mensagem">
                <button class="btn-mandar-mensagem"><img src = "img/seta.svg"></button>
            </form>
        </div>

    </main>
</body>
</html>