@import './base/variaveis';
@import './base/tipografia';

* {
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
    color: $cor-2;
    height: 100%;
    max-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 10px;
    overflow: hidden;

    @media screen {
        @media ( max-width: $ponto-de-quebra-650 ) { font-size: 9px; }
        @media ( max-width: $ponto-de-quebra-400 ) { font-size: 7px; }
        @media ( max-width: $ponto-de-quebra-300 ) { font-size: 2vw; }
        
        @media ( max-height: $ponto-de-quebra-650 ) and ( max-width: $ponto-de-quebra-1000 ) { font-size: 7px; }
        @media ( max-height: $ponto-de-quebra-500 ) and ( max-width: $ponto-de-quebra-1000 ) { font-size: 6px; }
        @media ( max-height: $ponto-de-quebra-400 ) and ( max-width: $ponto-de-quebra-1000 ) { font-size: 5px; }
    }
}

main {
    width: 100vw;
    height: 100%;
    display: flex;
}